In [2]:
import numpy as np
import pandas as pd

In [3]:
movies=pd.read_csv('movies.csv')

In [4]:
credits = pd.read_csv('credits.csv')

In [5]:
poster = pd.read_csv('poster.csv')

In [9]:
#Merge the two datasets and remove unnecessary parallel working.
movies = movies.merge(credits,on='title')

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
movies.head()
#movie_id
#title
#overview
#genres
#keywords
#cast
#crew
#these are the column which we require and we have to removw other unnecessary columns.
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [17]:
movies = movies.merge(poster,on='title')

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,poster
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",https://image.tmdb.org/t/p/original/jRXYjXNq0C...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",https://image.tmdb.org/t/p/original/2YMnBRh8F6...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",https://image.tmdb.org/t/p/original/zj8ongFhtW...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",https://image.tmdb.org/t/p/original/85cWkCVfti...
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",https://image.tmdb.org/t/p/original/7GSSyUUgUE...

In [20]:
#Now we have to adjust this text columns like : genres , keywords , cast and crew and have to extract information from them
#genres --> extract keywords of the movies
#keywords --> extract the basic words
#cast --> extract top3 lead actors
#crew --> extract only name of director

In [21]:
import ast #library which helped me to convert stirng to list.

In [22]:
#helper functions-->
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

#for extracting top3 actors from movie
def convert3(text):
    L=[]
    counter=0
    for i in ast.literal_eval(text):
        if(counter<3):
            L.append(i['name'])
        counter+=1
    return L
#for getting the name of the Director
def get_director(text):
    L = []
    for i in ast.literal_eval(text):
        if(i['job']=='Director'):
            L.append(i['name'])
    return L

In [23]:
movies.dropna(inplace=True)

In [24]:
movies['genres']= movies['genres'].apply(convert)

In [25]:
movies['keywords']= movies['keywords'].apply(convert)

In [26]:
movies['cast']= movies['cast'].apply(convert3)

In [27]:
movies['crew']= movies['crew'].apply(get_director)

In [28]:
movies.head() # you can see we converted all the text columns into some meaningful information!!!

,movie_id,title,overview,genres,keywords,cast,crew,poster
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],https://image.tmdb.org/t/p/original/jRXYjXNq0C...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],https://image.tmdb.org/t/p/original/2YMnBRh8F6...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],https://image.tmdb.org/t/p/original/zj8ongFhtW...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],https://image.tmdb.org/t/p/original/85cWkCVfti...
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],https://image.tmdb.org/t/p/original/7GSSyUUgUE...

In [29]:
#we need to remove spaces between the name like model can mistake between recommneding (Sam Mendes) and (Sam Worthington).
def remove(L):
    L1=[]
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [30]:
movies['cast'] = movies['cast'].apply(remove)
movies['crew'] = movies['crew'].apply(remove)
movies['genres'] = movies['genres'].apply(remove)
movies['keywords'] = movies['keywords'].apply(remove)

In [31]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [32]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,poster
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],https://image.tmdb.org/t/p/original/jRXYjXNq0C...

In [33]:
#Now i merged a 5 columns overview , genres , keywords , cast and crew and formed a new column "tags".
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [34]:
movies_new = movies.drop(columns = ['overview','genres','keywords','cast','crew'])

In [35]:
movies_new.head()

,movie_id,title,poster,tags
0,19995,Avatar,https://image.tmdb.org/t/p/original/jRXYjXNq0C...,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,https://image.tmdb.org/t/p/original/2YMnBRh8F6...,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,https://image.tmdb.org/t/p/original/zj8ongFhtW...,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,https://image.tmdb.org/t/p/original/85cWkCVfti...,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,https://image.tmdb.org/t/p/original/7GSSyUUgUE...,"[John, Carter, is, a, war-weary,, former, mili..."

In [36]:
movies_new['tags'] = movies_new['tags'].apply(lambda x : " ".join(x))

In [37]:
movies_new['tags'] = movies_new['tags'].apply(lambda x : x.lower())

In [38]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\udaya\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\udaya\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\udaya\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\udaya\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\udaya\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\udaya\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [39]:
import nltk
from nltk.stem.porter import PorterStemmer

In [40]:
ps = PorterStemmer()

In [41]:
def stem(text):
    L = []
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [42]:
movies_new['tags'] = movies_new['tags'].apply(stem)

In [43]:
#Extracted top 5000 Most Frequent words from the tags of each movie so that i can apply Text-Vectorization to it and convert it into a Vector.
# And can Recommend it to a User and can find Vectors closest to it to Recommend to user.
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000,stop_words = 'english') 
#used stop-words parameter to remove common and grammatical words like it,in,the,a,an etc.

In [44]:
vec = cv.fit_transform(movies_new['tags']).toarray()

In [45]:
#now i calculated the distance between all the movies but not the euclidean distance but the cosine distance.
#because in Higher Dimension the euclidean distance not give much better results.
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(vec)

In [46]:
#movie Recommending function:
def recommend(movie_name):
    movie_index = movies_new[movies_new['title']==movie_name].index[0]
    distances = similarity_matrix[movie_index]
    Top_5 = sorted(list(enumerate(distances)),reverse=True,key = lambda x : x[1])[1:6]
    for i in Top_5:
        print(movies_new.iloc[i[0]].title)

In [47]:
recommend('Iron Man')

Iron Man 3
Iron Man 2
Avengers: Age of Ultron
Captain America: Civil War
The Avengers

In [48]:
import pickle
pickle.dump(movies_new,open('movies.pkl','wb'))
pickle.dump(similarity_matrix,open('similariaty.pkl','wb'))